*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    background: radial-gradient(
        circle at 10% 20%,
        rgb(251, 221, 19) 0.1%,
        rgb(255, 153, 1) 90%
    );
    box-shadow: 5px 5px 10px black;
    color: #000;
    z-index: 100;
}
.menu-items li a.active {
    color: #117964; /* Example color for active link */
    font-weight: bold; /* Example style for active link */
    text-decoration: underline; /* Underline active link */
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}
.logo {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}
.logo a {
    text-decoration: none;
    color: inherit; /* Keep the color as is */
    font-weight: normal;
}
.logo a:hover {
    color: inherit; /* Prevent color change on hover */
    background-color: transparent; /* Prevent background change */
    text-decoration: none; /* Ensure no underline or other decoration on hover */
    cursor: default; /* Keep cursor default, so it doesn't indicate a clickable link */
}
.logo {
    font-size: 40px;
    color: #000;
}
@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto; /* Top and bottom margin */
    margin-left: 20px; /* Left margin */
    margin-right: 20px; /* Right margin */
}

.card {
    width: calc(33.33% - 20px); /* Three cards per row with a small gap */
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Ensure the width includes padding and border */
}

.card:hover {
    transform: scale(1.05); /* Zoom effect on hover for the whole card */
}

/* Product image styles */
.product-img {
    width: 100%;
    height: 200px; /* Decreased height */
    overflow: hidden;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Product info styles */
.product-info {
    padding: 20px;
    background-color: #ffffff;
}

.product-text {
    margin-bottom: 10px;
}

.product-text h4 {
    font-weight: 450;
    margin-top: -5%;
    margin-bottom: 3%s;
}

.product-text h5 {
    font-weight: 350;
}

.product-price-btn {
    text-align: center;
    display: flex;
}

.product-price-btn button {
    margin-top: 15px; /* Increased margin-top */
    min-width: 70%;
    padding: 12px 20px; /* Increased padding */
    background-color: #4a90e2; /* Medium blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer;
}

.product-price-btn button:hover {
    background-color: #357ae8; /* Darker blue on hover */
}

.product-price-btn button.delete-btn {
    background-color: #e24a4a; /* Red background color for delete button */
}

/* Edit image styles */
.product-price-btn a {
    display: inline-block;
    margin-left: auto;
}

.product-price-btn a img {
    width: 20px; /* Adjust size of edit image */
    height: 20px; /* Adjust size of edit image */
    vertical-align: middle;
    margin-left: 10px; /* Space between edit image and text */
}
.title-and-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-and-edit h2 {
    margin-right: 40%;
}

.title-and-edit .edit-icon {
    max-width: 40px;
    min-height: 70%;
}
#logout-div {
    background-color: #ddd;
    padding: 10px;
    display: none;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    right: 5%;
    width: 150px;
}

.logout-button {
    background-color: white;
    color: darkred;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px 0;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.edit-profile-button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px 0;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.username {
    color: black;
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center text */
}

#proceed-btn {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px; /* Smaller padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover,
.edit-profile-button:hover {
    background-color: lightgray;
}
#user-icon {
    position: relative;
}
.logout-div {
    position: absolute;
    width: 150px;
}
.storesHeader {
    text-align: center;
    margin-top: 5%;
    color: #1e90ff;
}
